@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{
	<form class="d-flex" asp-controller="Auth" asp-action="Logout" method="post">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="User" asp-action="Profile" title="Manage">Hello @User.FindFirstValue(ClaimTypes.Name)!</a>
			</li>
			<li class="nav-item">
				<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
		</li>
	</ul>
}